body{
  background-image: url('https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=820&q=80');
  height: 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}
.navbar{
  display: flex;
  padding-left: 40px;
  /* margin: 20px; */
}
.navbar div{
  
  cursor: pointer;
  font-size: large;
  padding: 10px;
  margin: 10px;
}
.contact{
  padding-left: 66% !important;
}
.home{
  padding: 50px;
  margin: 20px;
}
.home > .name{
  font-size: 30px;
  font-weight: 500;
}
.below-name h2{
  font-size: 65px;
}
.below-name p{
  font-size: 20px;
  color: rgb(181, 181, 181);
}
a:-webkit-any-link{
  text-decoration: none;
  color: white;
  cursor: pointer;
}